<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.jdkj.jiandandev.appTests</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an units application.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Nodes</key>
	<array>
		<string>AppTests/JDAppTestCase.h</string>
		<string>AppTests/JDAppTestCase.m</string>
		<string>AppTests/JDAppTestsViewController.h</string>
		<string>AppTests/JDAppTestsViewController.m</string>
		<string>AppTests/JDTestMethodsViewController.h</string>
		<string>AppTests/JDTestMethodsViewController.m</string>
		<string>AppTests/JDAppTests.h</string>
		<string>AppTests/JDAppTests.m</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>AppTests/JDAppTestCase.h</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDAppTestCase.h</string>
		</dict>
		<key>AppTests/JDAppTestCase.m</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDAppTestCase.m</string>
		</dict>
		<key>AppTests/JDAppTestsViewController.h</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDAppTestsViewController.h</string>
		</dict>
		<key>AppTests/JDAppTestsViewController.m</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDAppTestsViewController.m</string>
		</dict>
		<key>AppTests/JDTestMethodsViewController.h</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDTestMethodsViewController.h</string>
		</dict>
		<key>AppTests/JDTestMethodsViewController.m</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDTestMethodsViewController.m</string>
		</dict>
		<key>AppTests/JDAppTests.h</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDAppTests.h</string>
		</dict>
		<key>AppTests/JDAppTests.m</key>
		<dict>
			<key>Path</key>
			<string>AppTests/JDAppTests.m</string>
		</dict>
	</dict>
</dict>
</plist>
